fastapi
uvicorn
python-dotenv
sqlalchemy
psycopg2-binary
email-validator
alembic
bcrypt<4.1.0
passlib[bcrypt]
python-multipart
python-jose[cryptography]
pyotp
mammoth
xhtml2pdf
python-docx
imap-tools
pydantic
anyio
starlette
